* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: rgb(4, 120, 87);
  width: 800px;
  margin:0 auto;
  padding:10px; 
  border: 10px solid rgb(6, 109, 45);
}

h1 {
  text-align: center;
  color: rgb(12, 184, 132);
  font-size: 5rem;
  text-decoration:wavy;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colred,
.colblue,
.colyellow,
.colgreen {
  width: calc(100% / 7 - (60px / 7));
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

span {
  font-size: 1.2rem;
}

.colred {
  background-color: rgb(176, 18, 18);
  border: 2px solid black;
}
.colblue {
  background-color: rgba(0, 101, 242, 0.762);
  border: 2px solid black;
}
.colyellow {
  background-color: rgb(211, 158, 25);
  border: 2px solid black;
}

.colgreen {
  background-color: rgb(6, 220, 6);
  border: 2px solid black;
}
